.Card {
  width: 224px;
  height: 334px;
  &__button {
    @extend .Card;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  @media (max-width: 576px) {
    width: 100%;
  }
}
