h3 {
  font-weight: 600;
}

.App {
  .ant-layout-content {
    padding: 0 1em 1em;
  }
}

.ant-form-horizontal .ant-form-item-label {
  width: 100%;
  text-align: left;
}

.ant-card {
  height: 100%;
  min-height: 250px;

  .ant-card-body,
  .ant-row {
    height: 100%;
  }
}
